body {
  margin: 0px;
  padding: 50px 0px 0px 0px;
  text-align: center;
  font-family: Helvetica;
}

#streak {
  font-size: 180px;
}

#streak-label {
  font-size: 35px;
  margin-bottom: 25px;
}

#score {
}

#score, #score-label {
  font-size: 25px;
  display: inline-block;
}

